doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title World Wide Web
  body
    .header
      h1.page-title Auto Kitch Pro

    ul.nav
      li: a(href='/') Home
      li: a(href='#news') Your Orders
      li: a(href='#about') About
      li: a(href='#contact') Contact

    .main-content
      block content

    .footer
      p Copyright © 2020 Futurecorpz.
